.activities-container {
  position: relative;
  font-size: var(--fs-md);
  margin: 200px auto 0 auto;
  background-color: var(--clr-neutral-100);
  width: 90%;
  padding: 20px;
  & .activities-tag {
    font-size: var(--fs-xs);
    margin: 5px 0 0 0;
    color: var(--clr-neutral-400);
  }
  & .activities-title {
    font-size: var(--fs-xxl);
    margin: 5px auto 20px auto;
    width: 100%;
  }
}
& .activities-content {
  & .activities-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & .activities-card-title {
      text-align: left;
      font-size: var(--fs-xl);
    }
    & .activities-card-subTitle {
      text-align: left;
      font-size: var(--fs-md);
      color: var(--clr-neutral-600);
    }
    & .activities-card-time {
      text-align: left;
      font-size: var(--fs-xs);
      color: var(--clr-neutral-600);
      display: flex;
      align-items: center;
      margin-top: 3px;
      margin-bottom: 10px;
      gap: 5px;
    }
    & .activities-card-info {
      text-wrap: pretty;
      margin: 5px 0;
    }
    & .activities-card-carousel {
      margin: 20px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    & .activities-card-video {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
}

.banner-article {
  position: absolute;
  z-index: 0;
  top: 0;
}

.banner-article img {
  max-width: 1440px;
  min-height: 200px;
  width: 100%;
}

@media (min-width: 768px) {
  .activities-container {
    & .activities-tag {
      font-size: var(--fs-sm);
    }
  }

  .activities-content {
    & .activities-card {
      & .activities-card-title {
        font-size: var(--fs-xl);
      }
      & .activities-card-subTitle {
        font-size: var(--fs-md);
      }
      & .activities-card-time {
        font-size: var(--fs-sm);
      }
    }
  }
}

@media (min-width: 1024px) {
  .activities-container {
    padding: 40px;
    & .activities-tag {
      font-size: var(--fs-md);
    }
    & .activities-title {
      font-size: var(--fs-xxxl);
    }
    & .activities-content {
      & .activities-card {
        & .activities-card-title {
          font-size: var(--fs-xxl);
        }
        & .activities-card-subTitle {
          font-size: var(--fs-lg);
        }
        & .activities-card-time {
          font-size: var(--fs-md);
        }
        & .activities-card-info {
          font-size: var(--fs-md);
        }
      }
    }
  }
}
