main {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home styles */

/* Main container styles */
.home-container {
  background-color: var(--clr-neutral-100);
  width: 90%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 200px auto 0 auto;
}

/* Banner styles */
.banner {
  position: absolute;
  z-index: 0;
  top: 0;
  background-image: url("../../../src/assets/banner.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1440px;
  height: 300px;
}

/* Container - tag - title */
.focus-container {
  & .focus-tag {
    color: var(--clr-neutral-400);
    font-size: var(--fs-xs);
    margin-bottom: 5px;
  }
  & .focus-title {
    font-size: var(--fs-xxl);
    margin-bottom: 20px;
  }
}

/* About us */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  & .about-title {
    margin-bottom: 20px;
    font-size: var(--fs-xxl);
    width: 100%;
  }
  & .about-description {
    margin: 0px auto 20px auto;
    font-size: var(--fs-sm);
  }
}

/* Team cards styles */
.teamwork {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  & .teamwork-container {
    & .teamwork-title {
      margin: 5px auto;
      font-size: var(--fs-xl);
    }
    & .teamwork-subTitle {
      font-size: var(--fs-md);
      color: var(--clr-neutral-600);
      margin-bottom: 10px;
    }
  }
}

/* Join us and contact cards styles */
.joinUs-card {
  display: flex;
  background-color: var(--clr-neutral-200);
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  & .joinUs-title {
    font-size: var(--fs-xl);
  }
  & .joinUs-description {
    font-size: var(--fs-sm);
    text-align: center;
    margin: 20px 0;
  }
  & .joinUs-button {
    width: 90%;
    height: 40px;
    margin: auto;
    font-size: var(--fs-sm);
    border-radius: 5px;
    border: none;
    background-color: var(--clr-accent-500);
    color: var(--clr-neutral-100);
    cursor: pointer;
    & .joinUs-ancord {
      display: flex;
      align-self: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;
      color: var(--clr-neutral-100);
    }
    &:hover {
      background-color: var(--clr-hover-500);
    }
  }
}

.contact-card {
  display: flex;
  background-color: var(--clr-neutral-200);
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  & .contact-title {
    font-size: var(--fs-xl);
  }
  & .contact-description {
    font-size: var(--fs-am);
    text-align: center;
    margin: 20px 0;
  }
  & .contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    height: 40px;
    margin: auto;
    font-size: var(--fs-sm);
    border-radius: 5px;
    border: none;
    background-color: var(--clr-accent-500);
    color: var(--clr-neutral-100);
    cursor: pointer;
    & .contact-ancord {
      display: flex;
      align-self: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;
      color: var(--clr-neutral-100);
    }
    &:hover {
      background-color: var(--clr-hover-500);
    }
  }
}

/* Icons styles */
.icon {
  cursor: pointer;
}

/* Responsive Designe */
@media (min-width: 768px) {
  .home-container {
    padding: 40px;
  }
  .focus-container {
    & .focus-tag {
      font-size: var(--fs-sm);;
    }
  }

  .joinUs-card {
    padding: 60px;
    & .joinUs-title {
      font-size: var(--fs-xxl);
    }
    & img {
      height: 450px;
    }
  }

  .contact-card {
    padding: 60px;
    & .contact-title {
      font-size: var(--fs-xxl);
    }
    & img {
      height: 350px;
    }
  }
}

@media (min-width: 1024px) {
  .home-container {
    padding: 60px;
  } 
  .focus-container {
    & .focus-tag {
      font-size: var(--fs-md);
    }
  }
  .about {
    & .about-title {
      font-size: var(--fs-xxxl);
    }
    & .about-description {
      font-size: var(--fs-md);
    }
  }

  .teamwork {
    & .teamwork-container {
      & .teamwork-title {
        font-size: var(--fs-xxl);
      }
      & .teamwork-subTitle {
        font-size: var(--fs-xl);
      }
    }
  }

  .joinUs-container {
    & .joinUs-card {
      width: 50%;
      padding: 40px;
      & img {
        height: 350px;
      }
      & .joinUs-title {
        font-size: var(--fs-xxl);
      }
      & .joinUs-description {
        font-size: var(--fs-md);
      }
      & .joinUs-button {
        font-size: var(--fs-md);
      }
    }
    & .contact-card {
      display: flex;
      flex-direction: row;
      padding: 40px;
      width: 100%;
      margin: 0 auto;
      & img {
        height: 250px;
      }
      & .contact-column-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      & .contact-title {
        font-size: var(--fs-xxl);
      }
      & .contact-description {
        font-size: var(--fs-md);
      }
      & .contact-button {
        font-size: var(--fs-md);
      }
    }
    & .joinUs-card {
      flex-direction: row;
      direction: rtl;
      padding: 40px;
      width: 100%;
      margin: 10px auto;
      & img {
        height: 310px;
      }
      & .column-right {
        display: flex;
        direction: r;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
          height: 350px;
        }
      }
    }
  }
}