:root {
    --clr-Primary-200: hsl(30, 100%, 95%);
    --clr-Secondary-700: hsl(231, 10%, 27%);
    
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(26, 24%, 94%);
    --clr-neutral-250: hsla(26, 23%, 94%, 0.639);
    --clr-neutral-350: hsla(26, 23%, 94%, 0.803);
    --clr-neutral-400: hsl(165, 2%, 59%);
    --clr-neutral-600: hsl(231, 7%, 37%);
    --clr-neutral-900: hsl(60, 3%, 14%);
    --clr-neutral-950: hsla(60, 3%, 14%, 0.382);

    
    /* --clr-accent-500: hsl(38, 100%, 51%); */
    --clr-accent-500: hsl(219, 32%, 38%);
    --clr-hover-500: hsl(213, 45%, 65%);

    /* Alerts colors */
    --at-good: hsla(137, 43%, 79%, 0.705);
    --at-good-dark: hsla(137, 49%, 35%, 0.705);
    --at-bad: hsla(0, 100%, 50%, 0.705);

    --ff-base: 'Exo', sans-serif;

    --ff-regular: 400;
    --ff-bold: 700;

    --fs-xxs: 0.625rem; /* 10px */ 
    --fs-xs: 0.75rem; /* 12px */
    --fs-sm: 0.875rem;  /* 14px */
    --fs-md: 1rem; /* 16px */
    --fs-lg: 1.125rem; /* 18px */
    --fs-xl: 1.25rem; /* 20px */
    --fs-xxl: 1.5rem; /* 24px */
    --fs-xxxl: 2rem; /* 32px */
    --fs-xxxxl: 2.5rem; /* 40px */
    --fs-xxxxxl: 3rem; /* 48px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    & p {
        font-size: var(--fs-sm);
        line-height: 1.15rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    min-width: 375px;
    justify-content: space-between;
    background-color: var(--clr-Primary-200);
    font-family: var(--ff-base);
    min-width: 390px;
    font-size: var(--fs-sm);
    margin: 0 auto;
    color: var(--clr-Secondary-700);
}
.grayscale {
    & div, section, article, footer, button, a, nav, header {
        background-color: black !important;
    }
    & p, h1, h2, h3, h4, h5, a, li, ul, span, a, button {
        color: white !important;
    }
    & img {
        filter: grayscale(100%);
    }
    & .icon {
        stroke: white;
    }
    & button {
        border: 1px solid white !important;
    }
    & .nav-back {
        opacity: 0.9;
    }
    & .banner, .banner-article {
        filter: grayscale(100%);
    }
}


@media (min-width: 768px) {
    body {
        font-size: var(--fs-md);
    }
}
