.organigrama-container {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 200px auto 0 auto;
  padding: 20px;
  width: 90%;
  background-color: var(--clr-neutral-100);
  & .organigrama-tag {
    font-size: var(--fs-xs);
    margin: 5px 0 0 0;
    color: var(--clr-neutral-400);
  }
  & .organigrama-title {
    font-size: var(--fs-xxl);
    margin: 5px 0 20px 0;
    width: 100%;
  }
  & .organigrama-img {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid var(--clr-neutral-400);
    cursor: pointer;
  }
  & .organigrama-subTitle {
    text-align: left;
    font-size: var(--fs-xl);
    margin-bottom: 20px;
  }
}

.organigrama-areas {
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
  & .grid {
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f0ed;
    & p {
      margin-top: 10px;
      font-weight: bold;
      font-size: var(--fs-md);
    }
    & .grid-title {
      color: var(--clr-neutral-400);
      text-transform: uppercase;
      font-size: var(--fs-sm);
    }
  }
}

.banner-principal {
  position: absolute;
  z-index: 0;
  top: 0;
  background-image: url("../../../src/assets/diversidad.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .organigrama-container {
    & .organigrama-tag {
      font-size: var(--fs-sm);
    }
  }

  .organigrama-areas {
    & .grid {
      display: flex;
      flex-direction: column;
      & img {
        height: 450px;
      }
    }
  }
}