:root {
    --PrimaryColor: #fffaf4;
    --SecondaryColor: #3e404c;
    --Light-Gray: #949897;
    --AccentColor: rgb(255, 163, 3);
    --HoverColor: rgb(255, 167, 3, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--PrimaryColor);
    font-family: 'Exo', sans-serif;
    max-width: 1440px;
    min-width: 375px;
    font-size: 0.875rem;
    margin: 0 auto;
    color: var(--SecondaryColor);
}
