:root {
    --clr-Primary-200: hsl(33, 100%, 98%);
    --clr-Secondary-700: hsl(231, 10%, 27%);
    
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(26, 24%, 94%);
    --clr-neutral-400: hsl(165, 2%, 59%);
    --clr-neutral-600: hsl(231, 7%, 37%);
    --clr-neutral-900: hsl(60, 3%, 14%);
    
    --clr-accent-500: hsl(38, 100%, 51%);
    --clr-hover-500: hsla(39, 100%, 51%, 0.8);

    --ff-base: 'Exo', sans-serif;

    --ff-regular: 400;
    --ff-bold: 700;

    --fs-xxs: 0.625rem; /* 10px */ 
    --fs-xs: 0.75rem; /* 12px */
    --fs-sm: 0.875rem;  /* 14px */
    --fs-md: 1rem; /* 16px */
    --fs-lg: 1.125rem; /* 18px */
    --fs-xl: 1.25rem; /* 20px */
    --fs-xxl: 1.5rem; /* 24px */
    --fs-xxxl: 2rem; /* 32px */
    --fs-xxxxl: 2.5rem; /* 40px */
    --fs-xxxxxl: 3rem; /* 48px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    & p {
        font-size: var(--fs-sm);
    }
}

body {
    background-color: var(--clr-Primary-200);
    font-family: var(--ff-base);
    max-width: 1440px;
    min-width: 375px;
    font-size: var(--fs-sm);
    margin: 0 auto;
    color: var(--clr-Secondary-700);
}
