nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: none;
  height: 100vh;
  width: 100%;
  & .back {
    background-color: rgba(0, 0, 0, 0.499);
    width: 50%;
  }
  & .front {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    background-color: white;
    & .front-close-menu {
      text-align: right;
    }
    & .close-menu-icon {
      cursor: pointer;
    }
    & .links {
      margin-top: 30px;
      list-style: none;
      & li {
        margin-bottom: 10px;
        & a {
          text-decoration: none;
          color: var(--SecondaryColor);
        }
      }
    }
    & .front-contact {
      position: absolute;
      width: 48%;
      bottom: 50px;
      & .contact-social{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}
