.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.slide {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    & img{
        object-fit: contain;
    }
}

.slide-hidden {
    display: none;
}  

.slide-description {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    color: var(--clr-accent-500);
    font-style: italic;
    font-size: var(--fs-sm);
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: var(--clr-neutral-100);
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
    cursor: pointer;
    color: var(--clr-hover-500);
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 20px;
}

.indicator {
    margin: 10px 5px;
    background-color: var(--clr-neutral-100);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;

    cursor: pointer;
}

.indicator-inactive {
    background-color: grey;
}

.indicator:hover {
    background-color: var(--clr-hover-500);
}

@media (min-width: 768px) {
    .carousel {
        width: 500px;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .carousel {
        width: 700px;
        height: 100%;
    }
}