footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
  text-align: center;
  padding: 10px;
  width: 100%;
  & .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: bolder;
    & img {
      height: 100px;
      width: 100px;
    }
    & span {
      font-size: var(--fs-md);
    }
  }

  & .footer-social-line {
    display: block;
    border-bottom: 1px solid var(--clr-neutral-100);
    margin: 5px auto;
    width: 60%;
  }

  .footer-links {
    display: none;
  }

  .footer-contacto {
    display: none;
  }

  & .footer-social {
    margin: 5px 0;
    font-size: var(--fs-sm);
    & ul {
      list-style: none;
      display: flex;
      margin-top: 10px;
      justify-content: center;
      gap: 10px;
      & img {
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    & .footer-logo {
      margin: 0 10px;
    }
    & .footer-social-line {
      display: none;
    }
    & .footer-links {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: var(--fs-sm);
      & ul {
        list-style: none;
        text-align: left;
        & li {
          margin: 5px 0;
          & a {
            color: var(--clr-neutral-100);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    & .footer-contacto {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: var(--fs-sm);
      & ul {
        list-style: none;
        text-align: left;
        & li {
          margin: 5px 0;
          & a {
            display: flex;
            align-items: center;
            color: var(--clr-neutral-100);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    & .footer-social-vertical-line {
      border: 1px solid var(--clr-neutral-100);
      height: 100px;
      margin: auto 0;
    }
    & .footer-social {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 10px 40px;
    & .footer-logo {
      margin: 0;
    }
    & .footer-links {
      font-size: var(--fs-md);
    }
    & .footer-contacto {
      font-size: var(--fs-md);
    }
  }
}

@media (min-width: 1440px) {
  footer {

    padding: 10px 80px;
  }
}

@media (min-width: 1920px) {
  footer {
    padding: 10px 280px;
  }
}