.nav-menu {
  position: relative;
  display: none;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  & .nav-back {
    position: fixed;
    background-color: var(--clr-neutral-950);
    height: 100%;
    min-width: 40%;
  }
  & .nav-front {
    position: fixed;
    padding: 20px;
    background-color: var(--clr-neutral-100);
    right: 0;
    height: 100%;
    min-width: 60%;
    & .nav-closeIcon {
      width: 100%;
      text-align: right;
    }
    & .nav-links {
      list-style: none;
      & .activities {
        display: block;
        & a {
          text-decoration: none;
          color: var(--clr-Secondary-700);
          display: flex;
          gap: 5px;
          align-items: center;
          cursor: pointer;
        }
        & li {
          display: block;
          margin-top: 10px;
          padding: 0 0 0 5px;
        }
      }
      & li {
        margin: 10px 0 10px 0;
        & a {
          text-decoration: none;
          color: var(--clr-Secondary-700);
        }
      }
    }
    & .nav-contact {
      position: fixed;
      display: flex;
      top: 90%;
      .nav-socialMedia {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-menu {
    & .nav-back {
      width: 65%;
    }
    & .nav-front {
      width: 35%;
      & .nav-socialMedia {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .nav-menu {
    display: block !important;
    & .nav-back {
      display: none;
    }
    & .nav-front {
      display: flex;
      position: fixed;
      padding-right: 40px;
      top: 0;
      width: 100% ;
      height: 50px;
      justify-content: right;
      align-items: center;
      font-size: var(--fs-md);
      background-color: transparent;
      & .nav-closeIcon {
        display: none;
      }
      & .nav-link-container {
        background-color: var(--clr-neutral-350);
        backdrop-filter: blur(10px);
        padding: 5px;
        border-radius: 0 0 5px 5px;
        margin-top: 17px;
        border: 1px solid var(--clr-neutral-400);
      }
      & .nav-links {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        height: 100%;
        & .nav-link-line {
          display: block;
          border-bottom: 1px solid var(--clr-Secondary-700);
          margin: 5px auto;
          width: 100%;
        }
        & .activities {
          margin-bottom: 10px;
          & li {
            display: block;
          }
        }
      }
      & .nav-contact {
        display: none;
      }
    }
  }
}

@media (min-width: 1440px) {
  .nav-menu {
    & .nav-front {
      padding-right: 100px;
    }
  }
}

@media (min-width: 1920px) {
  .nav-menu {
    & .nav-front {
      padding-right: 300px;
    }
  }
}