.card-container {
  display: flex;
  text-align: left;
  gap: 20px;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 10px;
  & .card {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    & .card-img {
      margin: 0 auto;
      width: 250px;
      height: 320px;
      object-fit: cover;
      object-position: top;
    }
    & .card-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      color: var(--clr-Primary-700);
      background-color: var(--clr-neutral-250);
      backdrop-filter: blur(15px);
      width: 230px;
      height: 70px;
      position: absolute;
      margin: 240px auto 0 auto;
      & .card-name {
        font-weight: bold;
        font-size: var(--fs-md);
      }
      & .card-position {
        margin-top: 5px;
        font-size: var(--fs-sm);
        color: var(--clr-neutral-600);
      }
    }
    
  }
}

@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    & .card {
      & .card-img {
        margin: 0 auto;
        width: 200px;
        height: 320px;
        object-fit: cover;
        object-position: top;
      }
      & .card-info {
        width: 180px;
      }
    }
  }
}

